In [7]:
import numpy as np
import pandas as pd
import missingno
import matplotlib.pyplot as plt
import io
from sklearn.preprocessing import KBinsDiscretizer
import requests
import urllib.parse
import pandas as pd
import seaborn as sns
import numpy as np
import missingno
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from scipy.spatial import distance
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression
import scipy.stats
from scipy import stats
from sklearn.feature_selection import RFE
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from numpy import array
import copy
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
import pandas as pd
from sklearn.impute import KNNImputer
import plotly.express as px
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim
import numpy as np

In [8]:
df = pd.read_csv("statics/HDR21-22_Composite_indices_complete_time_series.csv")
df

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,NaN,0.664,0.661,0.654,0.652,0.647,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,NaN,0.633,0.638,0.643,0.648,0.654,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,ZZI.SA,South Asia,NaN,NaN,NaN,0.442,0.447,0.453,0.457,0.462,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,NaN,0.407,0.410,0.410,0.411,0.413,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,ZZK.WORLD,World,NaN,NaN,NaN,0.601,0.604,0.607,0.610,0.614,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

In [9]:
df_numerics = df.select_dtypes(exclude = 'object')

In [10]:
knn_imp = KNNImputer(n_neighbors=20)
df_imputed = pd.DataFrame(knn_imp.fit_transform(df_numerics), columns=df_numerics.columns)
df_imputed

,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,hdi_1996,hdi_1997,hdi_1998,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,180.00,0.27300,0.27900,0.28700,0.29700,0.2920,0.31000,0.31900,0.3230,0.32400,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,148.00,0.51685,0.52020,0.52175,0.52455,0.5299,0.54200,0.54795,0.5513,0.55565,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,67.00,0.64700,0.62900,0.61400,0.61700,0.6240,0.63400,0.64500,0.6420,0.65700,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,40.00,0.80920,0.81415,0.82010,0.82630,0.8348,0.83875,0.84425,0.8499,0.85690,...,29.288500,29.222000,29.524000,29.033000,29.550500,30.422000,28.991500,28.891500,28.891500,28.891500
4,26.00,0.72800,0.73900,0.74200,0.74800,0.7550,0.76200,0.76700,0.7730,0.77900,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,80.95,0.66400,0.66100,0.65400,0.65200,0.6470,0.65200,0.65600,0.6620,0.66900,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,84.90,0.63300,0.63800,0.64300,0.64800,0.6540,0.65800,0.66500,0.6720,0.67700,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,135.75,0.44200,0.44700,0.45300,0.45700,0.4620,0.46700,0.47400,0.4800,0.48600,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,149.95,0.40700,0.41000,0.41000,0.41100,0.4130,0.42000,0.42300,0.4270,0.42800,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,82.15,0.60100,0.60400,0.60700,0.61000,0.6140,0.61900,0.62400,0.6290,0.63400,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

In [11]:
df[df_numerics.columns] = df_imputed
df

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.00,0.27300,0.27900,0.28700,0.29700,0.2920,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,AGO,Angola,Medium,SSA,148.00,0.51685,0.52020,0.52175,0.52455,0.5299,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,ALB,Albania,High,ECA,67.00,0.64700,0.62900,0.61400,0.61700,0.6240,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,AND,Andorra,Very High,NaN,40.00,0.80920,0.81415,0.82010,0.82630,0.8348,...,29.288500,29.222000,29.524000,29.033000,29.550500,30.422000,28.991500,28.891500,28.891500,28.891500
4,ARE,United Arab Emirates,Very High,AS,26.00,0.72800,0.73900,0.74200,0.74800,0.7550,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,80.95,0.66400,0.66100,0.65400,0.65200,0.6470,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,84.90,0.63300,0.63800,0.64300,0.64800,0.6540,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,ZZI.SA,South Asia,NaN,NaN,135.75,0.44200,0.44700,0.45300,0.45700,0.4620,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,149.95,0.40700,0.41000,0.41000,0.41100,0.4130,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,ZZK.WORLD,World,NaN,NaN,82.15,0.60100,0.60400,0.60700,0.61000,0.6140,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

In [12]:
df_mf.reset_index(inplace=True)
new_df = {}
years_value = []

years = df_mf.drop(columns=['country'])
years = years.columns

for i in range(df_mf.shape[0]):
    for column in df_mf.columns:
        if column != "country":
            years_value.append(df_mf[column][i])

    new_df[df_mf['country'][i]] = [years, years_value]

pd.DataFrame({"country": , "years": , "value": })

pd.DataFrame(new_df)
#printer(to_year(df_mf), 'footprint')

SyntaxError: expression expected after dictionary key and ':' (3841457099.py, line 15)

In [13]:
df_mf = df[["country","mf_1990","mf_1991","mf_1992","mf_1993","mf_1994","mf_1995","mf_1996","mf_1997","mf_1998","mf_1999","mf_2000","mf_2001","mf_2002","mf_2003","mf_2004","mf_2005","mf_2006",
                "mf_2007","mf_2008","mf_2009","mf_2010","mf_2011","mf_2012","mf_2013","mf_2014","mf_2015","mf_2016","mf_2017","mf_2018","mf_2019","mf_2020","mf_2021"]]
df_mf = df_mf[199:]
df_mf

,country,mf_1990,mf_1991,mf_1992,mf_1993,mf_1994,mf_1995,mf_1996,mf_1997,mf_1998,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
199,Arab States,7.227763,7.279215,7.812455,8.153082,8.251361,7.963845,8.128166,7.956283,7.882527,...,11.075451,11.274628,11.636378,11.751237,11.727856,11.626753,12.114102,12.318860,12.249970,12.174863
200,East Asia and the Pacific,4.953228,5.168820,5.472568,5.916398,5.982095,6.647649,7.131845,7.057934,6.755039,...,15.928797,16.945068,17.334877,17.013166,17.187522,17.084116,16.961132,17.438379,17.416781,17.393560
201,Europe and Central Asia,9.092125,9.005154,9.506948,9.298920,8.355869,8.087815,7.869160,7.914015,7.877864,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,Latin America and the Caribbean,9.432202,9.581206,9.961837,9.622562,10.026051,9.826580,9.811152,10.155521,10.463529,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,South Asia,3.084831,3.098787,3.132663,2.990643,2.981530,3.071535,3.182783,3.260529,3.318687,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,Sub-Saharan Africa,3.521031,3.480766,3.338487,3.258573,3.203970,3.097590,3.125837,2.870911,2.867193,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,World,8.267308,8.595217,8.718174,8.675305,8.783057,8.921863,9.044185,9.094891,9.154204,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

In [14]:
df_le = df[["country","le_1990","le_1991","le_1992","le_1993","le_1994","le_1995","le_1996","le_1997","le_1998","le_1999","le_2000","le_2001","le_2002","le_2003","le_2004","le_2005","le_2006",
                "le_2007","le_2008","le_2009","le_2010","le_2011","le_2012","le_2013","le_2014","le_2015","le_2016","le_2017","le_2018","le_2019","le_2020","le_2021"]]
df_le = df_le[199:]
df_le

,country,le_1990,le_1991,le_1992,le_1993,le_1994,le_1995,le_1996,le_1997,le_1998,...,le_2012,le_2013,le_2014,le_2015,le_2016,le_2017,le_2018,le_2019,le_2020,le_2021
199,Arab States,62.973324,63.225764,63.520079,64.512882,65.562309,65.414251,65.787807,66.063037,65.873575,...,70.261228,70.274253,70.570127,70.836099,71.019940,71.508744,71.711891,71.922194,71.002105,70.895040
200,East Asia and the Pacific,67.161758,67.383754,67.905512,68.375688,68.640580,68.938552,69.193133,69.582177,70.001370,...,74.427861,74.677412,74.936109,75.156317,75.355177,75.419246,75.835426,76.036110,75.968330,75.579650
201,Europe and Central Asia,67.781962,67.609336,66.896095,66.718280,67.136734,67.200572,67.496562,67.817071,68.275801,...,72.606274,72.992396,73.357649,73.681015,73.983262,74.343005,74.505959,74.700741,72.780992,72.856526
202,Latin America and the Caribbean,67.770568,68.127209,68.458998,68.786974,69.166664,69.477508,69.852504,70.213539,70.467402,...,74.067656,74.316945,74.521732,74.579895,74.544240,74.705572,74.823478,75.014905,73.008316,72.099890
203,South Asia,58.830494,59.102221,59.727847,60.058622,60.441754,60.791893,61.153254,61.659394,62.233873,...,67.915940,68.395439,68.905849,69.407382,69.874722,70.245467,70.517018,70.722315,69.972908,67.855530
204,Sub-Saharan Africa,49.868704,49.989060,49.900445,49.817075,49.722427,50.030853,49.951855,50.108405,49.965636,...,57.987394,58.539213,59.010080,59.428775,59.954595,60.348837,60.735440,61.120031,60.729051,60.112467
205,World,65.144798,65.299082,65.584015,65.753616,65.986642,66.186933,66.444651,66.787420,67.064549,...,71.289119,71.581265,71.886202,72.111793,72.370895,72.568952,72.816114,73.012099,72.257297,71.365465

In [15]:
df_eys = df[["country","eys_1990","eys_1991","eys_1992","eys_1993","eys_1994","eys_1995","eys_1996","eys_1997","eys_1998","eys_1999","eys_2000","eys_2001","eys_2002","eys_2003","eys_2004","eys_2005","eys_2006",
                "eys_2007","eys_2008","eys_2009","eys_2010","eys_2011","eys_2012","eys_2013","eys_2014","eys_2015","eys_2016","eys_2017","eys_2018","eys_2019","eys_2020","eys_2021"]]
df_eys = df_eys[199:]
df_eys

,country,eys_1990,eys_1991,eys_1992,eys_1993,eys_1994,eys_1995,eys_1996,eys_1997,eys_1998,...,eys_2012,eys_2013,eys_2014,eys_2015,eys_2016,eys_2017,eys_2018,eys_2019,eys_2020,eys_2021
199,Arab States,8.747189,8.793226,8.883311,9.001940,9.131453,9.245054,9.381918,9.524779,9.675471,...,11.811017,11.722879,11.779658,11.902077,12.017712,12.090033,12.221818,12.352035,12.366566,12.353535
200,East Asia and the Pacific,8.779989,8.826043,8.925569,8.974207,9.018952,9.159394,9.323888,9.432345,9.616606,...,12.653346,12.816409,13.053302,13.240658,13.379431,13.564312,13.670623,13.844319,13.818432,13.816818
201,Europe and Central Asia,10.958489,10.960557,10.870528,10.807529,10.747861,10.822459,10.897220,10.992686,11.208677,...,13.711788,14.471022,14.684491,14.864545,15.053858,15.215847,15.325361,15.448650,15.455550,15.446546
202,Latin America and the Caribbean,11.147010,11.253165,11.377612,11.451462,11.576074,11.746555,11.947888,12.128466,12.381709,...,13.809491,14.350104,14.432253,14.482245,14.628358,14.654710,14.754893,14.777329,14.770758,14.767956
203,South Asia,7.542508,7.600759,7.654745,7.700780,7.748634,7.800681,7.856218,7.914308,7.970844,...,10.919139,10.963109,11.256614,11.380238,11.731247,11.616882,11.455094,11.279929,11.568208,11.562208
204,Sub-Saharan Africa,5.916605,6.020889,6.074678,6.179582,6.267790,6.440755,6.589545,6.753002,6.935462,...,9.546207,9.690278,9.793646,9.894703,9.981369,10.038363,10.132258,10.253713,10.272845,10.267338
205,World,9.233550,9.277092,9.335321,9.396531,9.456900,9.549089,9.656333,9.748218,9.871760,...,12.106047,12.258803,12.419588,12.526893,12.690418,12.708571,12.712662,12.731804,12.798925,12.780907

In [16]:
df_gdi = df[["country","gdi_1990","gdi_1991","gdi_1992","gdi_1993","gdi_1994","gdi_1995","gdi_1996","gdi_1997","gdi_1998","gdi_1999","gdi_2000","gdi_2001","gdi_2002","gdi_2003","gdi_2004","gdi_2005","gdi_2006",
                "gdi_2007","gdi_2008","gdi_2009","gdi_2010","gdi_2011","gdi_2012","gdi_2013","gdi_2014","gdi_2015","gdi_2016","gdi_2017","gdi_2018","gdi_2019","gdi_2020","gdi_2021"]]
df_gdi = df_gdi[199:]
df_gdi

,country,gdi_1990,gdi_1991,gdi_1992,gdi_1993,gdi_1994,gdi_1995,gdi_1996,gdi_1997,gdi_1998,...,gdi_2012,gdi_2013,gdi_2014,gdi_2015,gdi_2016,gdi_2017,gdi_2018,gdi_2019,gdi_2020,gdi_2021
199,Arab States,0.76300,0.76500,0.77300,0.7780,0.78200,0.7850,0.79200,0.79600,0.80000,...,0.856,0.859,0.860,0.864,0.870,0.872,0.873,0.875,0.871,0.871
200,East Asia and the Pacific,0.87700,0.87900,0.88500,0.8910,0.89500,0.8980,0.89900,0.89600,0.90000,...,0.959,0.960,0.964,0.967,0.970,0.974,0.975,0.978,0.978,0.978
201,Europe and Central Asia,0.94100,0.94000,0.94200,0.9350,0.93400,0.9350,0.93300,0.92900,0.92800,...,0.957,0.959,0.962,0.958,0.958,0.958,0.961,0.961,0.961,0.961
202,Latin America and the Caribbean,0.90455,0.90715,0.91235,0.9143,0.91670,0.9312,0.93310,0.93380,0.93540,...,0.976,0.976,0.976,0.978,0.979,0.978,0.980,0.982,0.985,0.986
203,South Asia,0.69100,0.69400,0.69800,0.7010,0.70700,0.7090,0.71800,0.72900,0.73800,...,0.827,0.829,0.833,0.837,0.848,0.851,0.849,0.855,0.850,0.852
204,Sub-Saharan Africa,0.80325,0.80670,0.81100,0.8144,0.81605,0.8297,0.83305,0.84215,0.84075,...,0.888,0.889,0.896,0.899,0.903,0.901,0.904,0.903,0.907,0.907
205,World,0.89800,0.89900,0.90100,0.9010,0.90300,0.9040,0.90500,0.90700,0.91000,...,0.944,0.946,0.949,0.949,0.952,0.953,0.955,0.956,0.957,0.958

In [17]:
df_abr = df[["country","abr_1990","abr_1991","abr_1992","abr_1993","abr_1994","abr_1995","abr_1996","abr_1997","abr_1998","abr_1999","abr_2000","abr_2001","abr_2002","abr_2003","abr_2004","abr_2005","abr_2006",
                "abr_2007","abr_2008","abr_2009","abr_2010","abr_2011","abr_2012","abr_2013","abr_2014","abr_2015","abr_2016","abr_2017","abr_2018","abr_2019","abr_2020","abr_2021"]]
df_abr = df_abr[199:]
df_abr

,country,abr_1990,abr_1991,abr_1992,abr_1993,abr_1994,abr_1995,abr_1996,abr_1997,abr_1998,...,abr_2012,abr_2013,abr_2014,abr_2015,abr_2016,abr_2017,abr_2018,abr_2019,abr_2020,abr_2021
199,Arab States,69.782509,69.187862,68.366449,66.665081,64.639002,62.277413,59.741005,58.318625,56.133362,...,53.691284,53.941195,53.379794,52.409876,50.461275,49.270308,48.174586,47.069107,46.132824,45.253766
200,East Asia and the Pacific,38.754111,36.839217,33.204724,32.313838,28.493182,27.659603,26.835644,24.635012,23.909542,...,27.098021,26.935523,26.673000,25.567573,24.884674,24.429672,23.310035,22.935109,22.154974,21.580682
201,Europe and Central Asia,53.125091,55.734381,55.324229,57.316571,57.234540,54.707592,52.047045,48.471527,43.728372,...,32.314312,31.762164,31.409379,30.030280,27.855595,24.796191,23.045065,21.967247,20.690433,20.131623
202,Latin America and the Caribbean,88.244215,87.809548,87.028276,86.744960,86.181823,85.699111,85.524628,85.251210,85.107015,...,72.549141,71.271699,69.630176,67.481192,64.400677,62.553909,60.212710,57.473803,54.942002,53.389333
203,South Asia,122.806510,125.538913,125.257113,120.820119,120.637944,117.972455,111.068001,108.346198,106.788049,...,45.071071,44.484431,43.784952,34.530069,32.602159,32.254879,31.245299,29.806715,29.198994,28.937075
204,Sub-Saharan Africa,140.503080,139.193655,136.654977,137.197516,135.853902,133.851933,133.271578,130.445819,129.301129,...,116.444351,115.325993,114.012917,110.758885,107.658490,105.312512,104.121977,103.427148,101.988626,100.877877
205,World,73.833780,74.698883,73.942131,73.464748,72.774000,71.797238,69.699181,67.888535,66.934013,...,51.532572,51.295543,50.903480,47.278018,45.742846,44.995391,44.140624,43.433319,42.805263,42.529066

In [18]:
df_co2 = df[["country","co2_prod_1990","co2_prod_1991","co2_prod_1992","co2_prod_1993","co2_prod_1994","co2_prod_1995","co2_prod_1996","co2_prod_1997","co2_prod_1998","co2_prod_1999","co2_prod_2000","co2_prod_2001","co2_prod_2002","co2_prod_2003","co2_prod_2004","co2_prod_2005","co2_prod_2006",
                "co2_prod_2007","co2_prod_2008","co2_prod_2009","co2_prod_2010","co2_prod_2011","co2_prod_2012","co2_prod_2013","co2_prod_2014","co2_prod_2015","co2_prod_2016","co2_prod_2017","co2_prod_2018","co2_prod_2019","co2_prod_2020","co2_prod_2021"]]
df_co2 = df_co2[199:]
df_co2

,country,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,co2_prod_1995,co2_prod_1996,co2_prod_1997,co2_prod_1998,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
199,Arab States,3.004854,3.308762,3.532791,3.811951,3.800101,3.543564,3.446353,3.309271,3.387670,...,4.856001,4.642187,4.855927,4.966742,4.877396,4.831099,4.618027,4.612678,4.341299,4.294278
200,East Asia and the Pacific,1.838168,1.912917,1.979745,2.089213,2.184505,2.325181,2.410524,2.422974,2.255764,...,5.477298,5.542558,5.529828,5.465488,5.382540,5.460194,5.650539,5.784744,5.781421,5.772866
201,Europe and Central Asia,7.881364,7.214329,6.832903,6.100367,5.237056,4.990107,4.838831,4.791712,4.792009,...,5.586801,5.485903,5.411763,5.335794,5.465763,5.560856,5.608151,5.414787,5.231702,5.233625
202,Latin America and the Caribbean,2.269181,2.273636,2.264498,2.311172,2.348712,2.350795,2.410691,2.517979,2.630648,...,3.034836,3.091743,3.067060,3.006004,2.907513,2.825852,2.691328,2.607044,2.326692,2.324879
203,South Asia,0.734192,0.765133,0.787019,0.797607,0.838114,0.864041,0.904559,0.908724,0.933397,...,1.598469,1.621208,1.710420,1.742220,1.814518,1.879986,1.946198,1.959379,1.845635,1.843217
204,Sub-Saharan Africa,0.937493,0.942848,0.873639,0.890826,0.876438,0.908111,0.899234,0.914743,0.871839,...,0.872779,0.862625,0.890260,0.828164,0.830583,0.803148,0.799792,0.788715,0.726158,0.719480
205,World,4.156845,4.094685,3.995226,3.976614,3.940200,3.962273,4.016958,3.978574,3.901636,...,4.708761,4.694653,4.674574,4.611735,4.553602,4.560921,4.601945,4.560754,4.297988,4.274185

In [19]:
def to_year(df):
    col_dict = {}

    for column in df.columns:
        if column != "country":
            col_dict[column] = column[-4:len(column)]

    df.rename(columns=col_dict, inplace=True, errors='raise')
    return df

In [35]:
def printer(df, df_name, file_name):
    df = df.transpose()
    df.columns=df.iloc[0].values
    df.drop('country', axis=0, inplace=True)
    fig = px.line(df, y=["Arab States", "South Asia", "East Asia and the Pacific", "Europe and Central Asia", "Latin America and the Caribbean", "Sub-Saharan Africa", "World"],
                  labels={"value":f'{df_name.title()}', "variable":"countries", 'index':'Years'}, template="xgridoff")
    
    fig.write_html("./html/chart/line_charts/" + file_name + ".html")

In [36]:
df_list = [["footprint", df_mf, "mf"], 
            ["life expectancy", df_le, "le"],
            ["expected schooling years", df_eys, "eys"],
            ["gender development index", df_gdi, "gdi"],
            ["adolescent birth rate", df_abr, "abr"],
            ["carbon", df_co2, "co2"]]

country = list(df_mf['country'])

for df in df_list:
    for c in country:
        printer(df=to_year(df[1]), df_name=df[0], file_name=df[2])